@charset "utf-8";
/*------------------------------------------------------------------------------
 Syntax Structure Style Sheet
 @author yulii
 -------------------------------------------------------------------------------*/
.syns_tb { border-collapse: collapse; width: 100%; }
.syns_tb th { width: 25%; }
.syns_tb th, .syns_tb td {
	padding: 3px 5px;
	font-size: 0.75em;
	text-align: left;
	border: solid 1px #CCCCCC;
}
